/**
 * @license
 * MyFonts Webfont Build ID 2983227, 2015-03-02T19:22:58-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Acto-Thin by DSType
 * URL: http://www.myfonts.com/fonts/dstype/acto/thin/
 * 
 * Webfont: Acto-Medium by DSType
 * URL: http://www.myfonts.com/fonts/dstype/acto/medium/
 * 
 * Webfont: Acto-Book by DSType
 * URL: http://www.myfonts.com/fonts/dstype/acto/book/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2983227
 * Licensed pageviews: 100,000
 * Webfonts copyright: Copyright (c) 2010 by Dino dos Santos _DSType. All rights reserved.
 * 
 * © 2015 MyFonts Inc
*/

/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2d853b");

@font-face {
	font-family: 'Acto';
	src: 	url('../webfonts/2D853B_0_0.eot');
	src: 	url('../webfonts/2D853B_0_0.eot?#iefix') format('embedded-opentype'),
			url('../webfonts/2D853B_0_0.woff2') format('woff2'),url('../webfonts/2D853B_0_0.woff') format('woff'),
			url('../webfonts/2D853B_0_0.ttf') format('truetype'),url('../webfonts/2D853B_0_0.svg#wf') format('svg');
	font-weight: 100;
}
@font-face {
	font-family: 'Acto';
	src: 	url('../webfonts/2D853B_1_0.eot');
	src: 	url('../webfonts/2D853B_1_0.eot?#iefix') format('embedded-opentype'),
			url('../webfonts/2D853B_1_0.woff2') format('woff2'),url('../webfonts/2D853B_1_0.woff') format('woff'),
			url('../webfonts/2D853B_1_0.ttf') format('truetype'),url('../webfonts/2D853B_1_0.svg#wf') format('svg');
	font-weight: 600;
}
@font-face {
	font-family: 'Acto';
	src: 	url('../webfonts/2D853B_2_0.eot');
	src: 	url('../webfonts/2D853B_2_0.eot?#iefix') format('embedded-opentype'),
			url('../webfonts/2D853B_2_0.woff2') format('woff2'),url('../webfonts/2D853B_2_0.woff') format('woff'),
			url('../webfonts/2D853B_2_0.ttf') format('truetype'),url('../webfonts/2D853B_2_0.svg#wf') format('svg');
	font-weight: 400;
}
 