/*
 * Box-sizing for all!!!
 */
*, *::before, *::after {
  box-sizing: border-box;
}

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}


/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.clear:before,
.clear:after {
  content: "";
  display: table;
}

.clear:after {
  clear: both;
}

svg {
  max-height: 100%;
}

img, svg {
  max-width: 100%;
}

a img {
  vertical-align: middle;
}
.contain {
  max-width: 75em;
  margin: 0 auto;
}
.big_contain {
  max-width: 81.25em;
  margin: 0 auto;
}
.bigger_contain {
  max-width: 88.125em;
  margin: 0 auto;
}
body, input, textarea, button {
  font-family: "Acto", serif;
  -webkit-font-smoothing: antialiased;
  color: #1c292c;
}
h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
  margin-top: 0;
}
html {
  position: relative;
  height: 100%;
  background: #f4f4ef;
}
.landing {
  position: relative;
  background: white;
  width: 100%;
  height: 100%;
  min-height: 34.75em;
}
.landing .landing_contain {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 0 1.5em;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.landing .logo {
  display: block;
  margin: 0 auto;
  max-width: 20.75em;
  width: 100%;
}
.landing .logo img {
  margin-bottom: 1.5em;
}
.landing h1 {
  clear: both;
  font-weight: 200;
  text-align: center;
  font-size: 2.25em;
  margin-bottom: 1em;
}
.landing .form_contain {
  display: block;
  max-width: 32em;
  width: 100%;
  margin: 0 auto 2em;
  position: relative;
}
.landing .form_contain h2 {
  color: #52c0cb;
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 1em;
  margin-bottom: 0;
  text-align: center;
}
.landing form {
  position: relative;
}
.landing form input {
  -webkit-appearance: none;
  border-radius: 0;
}
.landing form input[type="email"] {
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #dcdcdc;
  box-shadow: none;
  background: white;
  padding: .75em;
  margin: 0;
}
.landing form input[type="email"]:focus {
  border-color: #52c0cb;
}
.landing form input[type="submit"] {
  display: block;
  font-weight: 600;
  width: 100%;
  background: #52c0cb;
  color: white;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border: 1px solid #52c0cb;
  padding: .75em 2em;
  margin: 20px auto;
  outline: 0;
}
.landing .social {
  clear: both;
  list-style-type: none;
  margin: 0 0 2em;
  padding: 0;
  text-align: center;
}
.landing .social li {
  display: inline-block;
  width: 1.5em;
  margin: 0 .75em;
}
.landing .credits {
  text-align: center;
  font-size: .6875em;
  line-height: 1.6;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.landing .credits a {
  text-decoration: none;
  border-bottom: 1px solid #1c292c;
  color: #1c292c;
}
.fyc-colors {
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  right: 0;
}
.fyc-colors div {
  height: 20px;
  width: 16.6666666667%;
  float: left;
}
.green {
  background: #85c487;
}
.blue {
  background: #52c0cb;
}
.turquoise {
  background: #1a7d7c;
}
.maroon {
  background: #85003c;
}
.red {
  background: #e6413e;
}
.yellow {
  background: #f39a35;
}
@media (min-width: 30em) {

  .landing form input[type="email"] {
    text-align: left;
    font-size: 20px;
  }
  .landing form input[type="submit"] {
    width: auto;
    margin: 2em auto;
    font-size: 20px;
  }
}
@media (min-width: 35em) and (min-height: 50em) {
  .landing .logo {
    max-width: 22.75em;
  }
  .landing .logo img {
    margin-bottom: 1.75em;
  }
  .landing h1 {
    font-size: 2.5em;
    margin-bottom: 1.125em;
  }
  .landing .form_contain h2 {
    font-size: 1.35em;
  }
  .landing form {
    margin-bottom: 2.5em;
  }
  .landing .social {
    margin-bottom: 2.5em;
  }
}

@media (min-width: 40em) and (min-height: 60em) {
  .landing .logo img {
    margin-bottom: 2.25em;
  }
  .landing h1 {
    font-size: 2.5em;
    margin-bottom: 1.25em;
  }
  .landing form {
    margin-bottom: 3.5em;
  }
  .landing .social {
    margin-bottom: 3.5em;
  }
}